html {
    height:100%;
}
body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height:150%;
    height:100%;
    padding: 0;
}
#wrap {
  padding: 0;
  margin: 0;
  min-height: 99%;
}
#main {
  overflow:auto;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;  /* must be >= the height of the footer */
}
#footer {
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
  border-color: #BBBBBB;
  text-align: center;
  font-size: smaller;
  position: relative;
  margin-top: -40px; /* negative value of footer height */
  height: 40px;
  clear:both;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/static/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('/static/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/static/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/static/error.png');
}
.info { display: none; }
.success { display: none; }
.warning { display: none; }
