<!DOCTYPE html>
<html>
<head>
  <title>Emmaus House Food Pantry</title>
  <link rel="stylesheet" type="text/css" href="/static/pantry.css" />
{% block style %}{% endblock %}
</head>
<body>
  <h1>Emmaus House Food Pantry</h1>
  <p>Navigation</p>
  <ul>
    <li><a href="{% url views.inventory 1 %}">Inventory</a></li>
    <li><a href="{% url views.receiving %}">Receiving</a></li>
    <li><a href="{% url views.distribution %}">Distribution</a></li>
  </ul>
  <div class="info"></div>
  <div class="success"></div>
  <div class="warning"></div>
  <div class="error"></div>
  {% block content %}{% endblock %}
  {% block script %}{% endblock %}
</body>
</html>
