<!DOCTYPE html>
<html>
<head>
  <title>Emmaus House Food Pantry</title>
  <link rel="stylesheet" type="text/css" href="/static/pantry.css" />
{% block style %}{% endblock %}
</head>
<body>
<div id="wrap">
  <div id="main">
  <h1>Emmaus House Food Pantry</h1>
  <p>Navigation</p>
  <ul>
    <li><a href="{% url views.inventory 1 %}">Inventory</a></li>
    <li><a href="{% url views.receiving %}">Receiving</a></li>
    <li><a href="{% url views.distribution %}">Distribution</a></li>
    <li><a href="{% url views.history %}">History</a></li>
  </ul>
  <div class="info"></div>
  <div class="success"></div>
  <div class="warning"></div>
  {% if error %}<div class="error">{{ error }}</div>{% endif %}

{% block content %}{% endblock %}

  </div>
</div>
<div id="footer">
  <p>Copyright 2012 by <a href="http://www.grantjenks.com">Grant Jenks</a>. All rights reserved.  &bull;  <a href="{% url admin:index %}">Admin</a>  &bull;  <a href="{% url views.shutdown %}">Shutdown</a>
</div>

<script type="text/javascript" src="/static/underscore-1.3.3.js"></script>
<script type="text/javascript" src="/static/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/pantry.js"></script>
{% block script %}{% endblock %}
<script type="text/javascript">
var categories =
[{% for category in categories %}
   "{{ category.name|escapejs }}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}
];
var subcategories =
{{% for category, subcategories in subcategories.iteritems %}
   "{{ category|escapejs }}":
       [{% for subcategory in subcategories %}
           "{{ subcategory.name|escapejs }}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}
       ]{% if forloop.last %}{% else %},{% endif %}{% endfor %}
};
</script>
</body>
</html>
