{% extends "base.html" %}

{% block style %}
<style type="text/css">
table { width:100%; }
th { width:14%; }
input { width:98%; }
</style>
{% endblock %}

{% block content %}
<h2>Distribution</h2>
<p>Steps</p>
<ol>
  <li class="step_1">Scan an Item:<input id="item-code" type="text" value=""></input></li>
</ol>
<table class="step_1" border="1" cellspacing="1" cellpadding="5">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Donor</th>
      <th>Distributed</th>
      <th>Category</th>
      <th>Subcategory</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
  $(".quickedit").dblclick(quickedit_dblclick);
  $("#item-code").focus();
  $("#item-code").keypress(dist_scan_code);
});
</script>
{% endblock %}
