{% extends "base.html" %}

{% block style %}
<style type="text/css">
table { width:100%; }
th { width:14%; }
input { width:100%; }
</style>
{% endblock %}

{% block content %}
<h2>Inventory</h2>
<h3>Page {{ items_page.number }}</h3>

{% if items_page.has_previous %}
  <a href="{% url views.inventory items_page.previous_page_number %}">Previous Page</a>
{% endif %}
{% if items_page.has_next %}
  <a href="{% url views.inventory items_page.next_page_number %}">Next Page</a>
{% endif %}

<table border="1" cellspacing="1" cellpadding="5" style="width:100%;">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Donor</th>
      <th>Received</th>
      <th>Category</th>
      <th>Subcategory</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items_page.object_list %}
      <tr>
        <td id="{{ item.id }}-code" >{{ item.code }}</td>
        <td id="{{ item.id }}-name">{{ item.name }}</td>
        <td id="{{ item.id }}-donor">{{ item.donor }}</td>
        <td id="{{ item.id }}-acquire_date">{{ item.acquire_date }}</td>
        <td id="{{ item.id }}-category">{{ item.category }}</td>
        <td id="{{ item.id }}-subcategory">{{ item.subcategory }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/jquery-1.7.2.js"></script>

<script type="text/javascript">
function td_click() {
  $(this).unbind();
  $(this).wrapInner("<input type='text' name='"+$(this).attr("rel")+"' value='"+$(this).html()+"'></input>");
  $(this).bind("keypress", td_enter);
}
function td_enter(obj) {
  if (obj.which == 13) {
    $(this).unbind();
    td = $(this);
    id = $(this).attr("id");
    parts = id.split("-");
    val = $(this).children().val();
    $.ajax({
      url: "/inventory/update",
      data: { num: parts[0], field: parts[1], value: val },
      dataType: "json",
      type: "POST",
      async: false,
      cache: false,
      statusCode: {
        400: function() {
          alert("Error: Bad input.");
          td.bind("keypress", td_enter);
        },
        200: function(data) {
          if (data["update"]) {
            // iterate all the items on this page and update
          }
          td.text(val);
          td.bind("click", td_click);
        }
      },
      error: function() {
        alert("Unknown Error.");
        td.bind("keypress", td_enter);
      }
    });
  }
}
$(document).ready(function() {
  $("td").click(td_click);
});
</script>
{% endblock %}
