{% extends "base.html" %}

{% block style %}
<style type="text/css">
table { width:100%; }
th { width:14%; }
</style>
{% endblock %}

{% block content %}
<h2>Receipt</h2>

<h3>Thank You {{ donor }}</h3>

<p>Thank you for your gifts to Emmaus House on {{ acquire_date|date:"M j, Y" }}.</p>

<p>{{ total }} Items Received!</p>

<table border="1" cellspacing="1" cellpadding="5">
  <thead>
    <tr>
      <th>Count</th>
      <th>Subcategory</th>
    </tr>
  </thead>
  <tbody>
    {% for subcategory, count in subcategories.iteritems %}
    <tr>
      <td>{{ count }}</td>
      <td>{{ subcategory }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
