{% extends "base.html" %}

{% block style %}
<style type="text/css">
table { width:100%; }
th { width:14%; }
</style>
{% endblock %}

{% block content %}
<h2>Receipt</h2>

{% if items %}
<table border="1" cellspacing="1" cellpadding="5">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Donor</th>
      <th>Received</th>
      <th>Category</th>
      <th>Subcategory</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.code }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.donor }}</td>
      <td>{{ item.acquire_date|date:"M j, Y" }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.subcategory }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
