{% extends "base.html" %}

{% block style %}
<style type="text/css">
table { width:100%; }
th { width:14%; }
input { width:100%; }
.rec-step-2 { display: none; }
.rec-step-3 { display: none; }
.rec-step-4 { display: none; }
.rec-step-5 { display: none; }
.rec-step-6 { display: none; }
ol { height: 270px; }
</style>
{% endblock %}

{% block content %}
<h2>Receiving</h2>

<p>Steps</p>
<ol>
  <li class="rec-step-1">Enter Donor Name and Press Enter:<input id="item-donor" type="text" value=""></input></li>
  <li class="rec-step-2">Enter Date Received and Press Enter:<input id="item-acquire_date" type="text" value=""></input></li>
  <li class="rec-step-3">Scan an Item:<input id="item-code" type="text" value=""></input></li>
  <li class="rec-step-4">Enter Item Name and Press Enter:<input id="item-name" type="text" value=""></input></li>
  <li class="rec-step-5">Enter Item Category and Press Enter:<input id="item-category" type="text" value=""></input></li>
  <li class="rec-step-6">Enter Item Subcategory and Press Enter:<input id="item-subcategory" type="text" value=""></input></li>
</ol>
<a id="create-receipt" class="rec-step-3" href="{% url views.receipt %}">Create Receipt</a>
<table class="rec-step-3" border="1" cellspacing="1" cellpadding="5">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Donor</th>
      <th>Received</th>
      <th>Category</th>
      <th>Subcategory</th>
    </tr>
  </thead>
  <tbody>
    <tr id="new-item-row">
      <td id="new-code" class="new-item">
        <input id="new-code-in" type="text" name="new-code" value=""></input>
      </td>
      <td id="new-name" class="new-item">
        <input id="new-name-in" type="text" name="new-name" value=""></input>
      </td>
      <td id="new-donor" class="new-item">
        <input id="new-donor-in" type="text" name="new-donor" value=""></input>
      </td>
      <td id="new-acquire_date" class="new-item">
        <input id="new-acquire_date-in" type="text" name="new-acquire_date" value=""></input>
      </td>
      <td id="new-category" class="new-item">
        <input id="new-category-in" type="text" name="new-category" value=""></input>
      </td>
      <td id="new-subcategory" class="new-item">
        <input id="new-subcategory-in" type="text" name="new-subcategory" value=""></input>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
  $("#item-donor").keypress(rec_step_1);
  $("#item-acquire_date").keypress(rec_step_2);
  $("#item-code").keypress(rec_step_3);
  $("#item-name").keypress(rec_step_4);
  $("#item-category").keypress(rec_step_5);
  $("#item-subcategory").keypress(rec_step_6);
  $(".new-item").keypress(rec_new_item_keypress);
  $("#item-donor").focus();
});
</script>
{% endblock %}
